<!--textarea input for calculation hashes-->
<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button"
            role="tab" aria-controls="pills-home" aria-selected="true">Home
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button"
            role="tab" aria-controls="pills-profile" aria-selected="false">Profile
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button"
            role="tab" aria-controls="pills-contact" aria-selected="false">Contact
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pills-disabled-tab" data-bs-toggle="pill" data-bs-target="#pills-disabled"
            type="button" role="tab" aria-controls="pills-disabled" aria-selected="false" disabled>Disabled
    </button>
  </li>
</ul>
<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
    ...
  </div>
  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">...
  </div>
  <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab" tabindex="0">...
  </div>
  <div class="tab-pane fade" id="pills-disabled" role="tabpanel" aria-labelledby="pills-disabled-tab" tabindex="0">...
  </div>
</div>
<div>
  <p><span>adler32:</span> {{ret.adler32}}</p>
  <p><span>md4:</span> {{ret.md4}}</p>
  <p><span>md5:</span> {{ret.md5}}</p>
  <p><span>crc32:</span> {{ret.crc32}}</p>
  <p><span>crc32c:</span> {{ret.crc32c}}</p>
  <p><span>blake2b:</span> {{ret.blake2b}}</p>
  <p><span>blake2s:</span> {{ret.blake2s}}</p>
  <p><span>blake3:</span> {{ret.blake3}}</p>
  <p><span>sha1:</span> {{ret.sha1}}</p>
  <p><span>sha224:</span> {{ret.sha224}}</p>
  <p><span>sha256:</span> {{ret.sha256}}</p>
  <p><span>sha384:</span> {{ret.sha384}}</p>
  <p><span>sha512:</span> {{ret.sha512}}</p>
  <p><span>sha3:</span> {{ret.sha3}}</p>
  <p><span>keccak:</span> {{ret.keccak}}</p>
  <p><span>ripemd160:</span> {{ret.ripemd160}}</p>
  <p><span>xxhash32:</span> {{ret.xxhash32}}</p>
  <p><span>xxhash64:</span> {{ret.xxhash64}}</p>
  <p><span>xxhash3:</span> {{ret.xxhash3}}</p>
  <p><span>xxhash128:</span> {{ret.xxhash128}}</p>
  <p><span>sm3:</span> {{ret.sm3}}</p>
  <p><span>whirlpool:</span> {{ret.whirlpool}}</p>
  <p><span>hmac:</span> {{ret.hmac}}</p>
  <p><span>pbkdf2:</span> {{ret.pbkdf2}}</p>
  <p><span>argon2id:</span> {{ret.argon2id}}</p>
  <p><span>bcrypt:</span> {{ret.bcrypt}}</p>
</div>


